
  .Main-container {
    height: 100%;
    width: 100%;
    background-image: url('../../Assets/Image.png');
    background-size: cover;
    background-position: center;
  }

  .Title{
    display: flex;
    height: 12%;
    width: 100%;
    align-items: center;
  }

  .Title span{
    font-size: 3em;
    font-weight: bold;
    margin-left: 5%; ;
  }
  
  .PlaylistLink{
    display: flex;
    height: 10%;
    align-items: center;
  }

  .PlaylistLink-InputBox{
    margin-left: 5%;
  }

  .PlaylistLink-Btn{
    margin-left: 3%;
  }

  .RadioSection{
    margin-left: 5%;
    width: auto;
    height: auto;
  }

  .Radio-Option{
    display: flex;
  }
  .Radio-Option p{
    margin: 0;
  }


