.ok-Alert-Container{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 1px solid red;
}

.ok-Alert-Container img{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}