.SongCard-Container{
    margin: 0.5em 0;
    height: 4.5em;
    width: 98%;
    border-radius: 4px; 
    background-color: #B8FF9F;
    border: 2px solid black;
    box-shadow: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Song-Thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Song-Thumbnail{
    margin: 0;
    height:3rem;
    width:5rem;
    border: 2px solid black;
}

.Song-details{

    width: 72%;
    height: 3rem;
    display: flex;
    flex-direction: column;
}
.Song-Title{
    height:60%;
    margin: 0;

}
.Song-Title p{
    margin: 0;
    font-weight: bold; 
    font-size: large; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Song-Artist{
    font-size: 1em;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    --input-focus: #FF9F9F;
    --input-out-of-focus: #ccc;
    --bg-color: black;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    box-shadow: 2px 2px;
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
  }
  
  .container input:checked ~ .checkmark {
    background-color: var(--input-focus);
  }
  
  .checkmark:after {
    content: "";
    width: 5px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 7px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

