.InputBox{
    width: 456px;
    height: 39px;
    padding: 0 10px;
    font-family: 'IBM Plex Mono', sans-serif;
    border: 2px solid black;
    box-shadow: 3px 3px;
    border-radius: 4px;
    background-color: #FF9F9F;
    color: black;
}

.InputBox:hover{
    background-color: #FF9F9Fdf;
}


.InputBox:focus{
    outline: none;
}
.InputBox:active{
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 1px 1px;
}


.InputBox::-webkit-input-placeholder {
    color: black; 
}

.InputBox::selection {
    background: black; /* Default highlight color */
    color: white; /* Default highlight text color */
}